.Repos .container{
    min-height: 77vh
}

.Repos h1{
    text-align: center;
    margin-bottom: .5rem;
}

.back-btn{
    position: absolute;
    top: 3rem;
    left: 5rem;
}

.Repos > a{
    background-color: #3a97d4;
    margin: 5px 0;
    padding: .8rem 2rem;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: .9rem;
}

.Repos > a:hover{
    background-color: #3a7dd4;
}

.repos-list{
    list-style-type: none;
    max-height: 70vh;
    padding: 2rem 3rem;
    overflow: auto;
}

.repos-list li{
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;
}

.repos-list li a{
    background-color: #3a97d4;
    color: #000;
    border-radius: 10px;
    font-weight: 600;
    padding: .4rem .6rem;
    font-size: .9rem;
    cursor: pointer;
    text-decoration: none;
}

.repos-list li a:hover{
    background-color: #3a7dd4;
}

.repos-list::-webkit-scrollbar {
    width: 20px;             
}

.repos-list::-webkit-scrollbar-track {
    background: #151e3a;
}


.repos-list::-webkit-scrollbar-thumb {
    background-color: #3a97d4;
}